<div class="container">
  <div class="row d-flex justify-content-center py-4">
    <%= simple_form_for @product do |f| %>
    <div class="text-center">
      <%= @product.title.capitalize %>
    </div>
    <div class="text-center mb-2">
      <%= f.input :product_type, label: 'Type:' %>
    </div>
    <div class="text-center mb-2">
      <%= f.input :rating, label: 'Rating:' %>
    </div>
    <div class="text-center mb-2">
      <%= f.input :price, label: 'Price:' %>
    </div>
    <div class="text-center mb-2">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
